[Desktop Entry]
Name=3DPrintForge Slicer
GenericName=3D Printing Software
Icon=3DPrintForgeSlicer
Exec=3dprintforge-slicer %U
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
MimeType=model/stl;model/3mf;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;x-scheme-handler/3dprintforgeslicer;x-scheme-handler/orcaslicer;model/step;
Categories=Graphics;3DGraphics;Engineering;
Keywords=3D;Printing;Slicer;slice;3D;printer;convert;gcode;stl;obj;amf;SLA;3DPrintForge;Forge
StartupNotify=false
StartupWMClass=3dprintforge-slicer
